.accordion {
  list-style: none;
  width: 90%;
  margin: 2rem auto 3rem;
  li {
    border: .05rem solid lightgrey;
    text-align: left;
    color: grey;
    margin: 1rem 0;
    a {
      display: block;
      position: relative;
      cursor: pointer;
      &:hover {
        background-color: lightgrey;
      }
      &:after {
        content: '+';
        position: absolute;
        right: 1rem;
      }
    }
    p {
      display: none;
      &.open {
        display: block;
      }
      font-size: 1rem;
    }
    a, p {
      padding: 1rem;
    }
  }
}
